/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


.photo{
	position:relative;
	left:300px;
	top: 0px;
	width: 400px;
	height: 600px;
	object-fit: cover;
	margin-bottom: 100px;
}

body{
	color: white;
	font-family: 'Poppins', sans-serif;
	padding:0;
	background-color:black;
}

span{
	color:#e6b800;
}

.list{
	padding:10px;
}

.info{
	position: relative;
	left:200px;
	top:100px;
	font-size: 20px;
	padding:20px;
	width:fit-content;
	float: left;
}