@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


/* Style for the Page */
#bg-image {
    position: absolute;
    width: 100%;
    height: 130vh;
    /* background-image: url("sitemapcover2.png"); */
    background-image: url("../images/student-four/sports.png");
    z-index: -1;
    opacity: 0.4;
}

h1 {
    font-weight: bolder;
    opacity: 10;
}

.svgBody {
    background-color: yellow;
    font-family: "Poppins", sans-serif;
}

.svg {
    text-align: center;
    color: rgb(43, 7, 104);
    font-family: "Poppins", sans-serif;
    padding-bottom: 30px;
    font-size: 60px;
}

svg {
    margin: auto;
    display: block;
}

text {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    fill: rgb(43, 7, 104);
}

line {
    stroke: rgb(82, 12, 167);
    stroke-width: 5;
}