@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Styling the heading --sports-- and for the photo  */
.capture {
    opacity: 0.4;
    height: 200px;
    width: 500px;
    margin-left: 350px;
    margin-right: auto;
}

.centered {
    position: absolute;
    font-size: 80px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    text-decoration: overline;
    text-decoration-color: rgb(66, 76, 175);
}

/* Buttons for changing the font size  */
.container .buttons {
    position: absolute;
    right: 10px;
    top: 50px;
    padding: 10px 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 4px 2px;
    cursor: pointer;
}

.container .buttons .button {
    margin-left: 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.container .buttons .button:nth-child(1) {
    font-size: 16px;
}

.container .buttons .button:nth-child(2) {
    font-size: 21px;
}

.container .buttons .button:nth-child(3) {
    font-size: 26px;
}

.changeColor {
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 100px;
    padding: 10px 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 4px 2px;
    cursor: pointer;
}

.gallery {
    width: auto;
    height: auto;
    padding: 8px;
    display: flex;
}

.box {
    width: 200px;
    margin: 0 3px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.box img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.2);
    z-index: 2;
}

.image {
    height: 190px;
}

.mainView img {

    top: 330px;
    float: left;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    border-radius: 10px;
}

#text {
    position: relative;
    top: 10px;

}

.mainView {
    height: 255px;
}

/* Color Picker */
.color {
    margin-top: 50px;
    width: 100rem;
    height: 10rem;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.color-picker {
    position: relative;
    bottom: 200px;
    left: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.color-picker input {
    margin-top: 50px;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px rgba(13, 158, 168, 0.5);
    cursor: pointer;
    outline: none;
}

.color-picker label {

    margin-right: 10px;
}